*

!src
!src/**/*

!ci
!ci/*

!gradle
!gradle/**/*
!*gradle*

!subprojects
!subprojects/**/*
subprojects/**/build

!.gitignore
!.gitattributes
!.editorconfig
!.dockerignore
!.travis.yml
!Dockerfile

!LICENSE
!*.md
!codenarc.groovy
